body {
    background: #fff;
}
.pkp-container {
    background: #efece7;
}
.pkp-resize-block-wrapper {
    background: #fff;
}
/*btns*/
.pkp-btn_another-payment {
    border: 2px solid #cccccc;
    padding: 12px 0;
    background: #efece7;
}
.pkp-btn_back {
    background: #efece7;
    border: 2px solid #cccccc;
}