.pkp_html .pkp_body
    .pkp-wrapper {
        background: #fff;
    }
    #pkp-container {
        background: #efece7;
    }
.pkp_html .pkp_body #pkp-container
    .pkp-resize-block-wrapper {
        background: #fff;
    }
    .pkp-btn_another-payment {
        border: 2px solid #cccccc;
        padding: 12px 25px;
        background: #efece7;
    }
    .pkp-btn_back {
        background: #efece7;
        border: 2px solid #cccccc;
        color: #000
    }
    .pkp-btn_another-payment:hover {
        background: #cccccc;
    }
    .pkp-btn_another-payment:active {
        background: #aeaeae;
        border-color: #aeaeae;
    }
    .pkp-btn_back:hover {
        background: #cccccc;
    }
    .pkp-btn_back:active {
        background: #aeaeae;
        border-color: #aeaeae;
    }
    